<head>
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<div class="footer">
    <div class="footer-icon">
        <a class="fa fa-github fa-lg" href="https://github.com/{{site.github_id}}" target="_blank"></a>
        <a class="fa fa-weibo fa-lg" href="http://weibo.com/u/{{site.weibo_id}}" target="_blank"></a>
        <a class="fa fa-quora fa-lg" href="https://zhihu.com/people/{{site.zhihu_id}}" target="_blank"></a>
        <a class="fa fa-book fa-lg" href="https://www.cnblogs.com/{{site.blog_id}}" target="_blank"></a>
        <a class="fa fa-inbox fa-lg" href="mailto:{{site.email}}" target="_blank"></a>
    </div>
    <div class="footer-copyright">
        &copy; Alex的Notebook
    </div>
</div>