---
title: 关于
permalink: /about/
---

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/post.css" />
    <title>{{ page.title }} - {{ site.name }}</title>    
</head>

<body>
    <div class="content-wrap">
        <div class="content-main">
            {% include header.html %}
            <div class="post-content">
                <p>本站是基于 <a href="https://pages.github.com/">GitHub Pages</a> 搭建而成。</p>
                <p>本站用途主要用做个人技术总结,个人其他技术站点：<a href="https://www.cnblogs.com/alexkn">https://www.cnblogs.com/alexkn</a></p>
                {% include reward.html %}

            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include cnzz.html %}
</body>

</html>